
/bin/
/reports/

!/tests/fixtures/project_01/
/tests/fixtures/project_01/*

!/tests/fixtures/project_01/drush/
/tests/fixtures/project_01/drush/*

!/tests/fixtures/project_01/drush/drush.yml

!/tests/fixtures/project_01/docroot/
/tests/fixtures/project_01/docroot/*
!/tests/fixtures/project_01/docroot/modules/
/tests/fixtures/project_01/docroot/modules/*

!/tests/fixtures/project_01/docroot/modules/custom/

!/tests/fixtures/project_01/docroot/themes/
/tests/fixtures/project_01/docroot/themes/*

!/tests/fixtures/project_01/docroot/themes/custom/
/tests/fixtures/project_01/docroot/themes/custom/*/node_modules/

/vendor/

/phpcs.xml
/phpunit.xml

/composer.local.json
/composer.local.lock
/.gitattributes

/robo.yml
