<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
  bootstrap="tests/src/bootstrap.php"
  colors="true">

  <php>
    <!-- These variables may alternatively be set as environment variables. -->

    <!-- Drupal major version to run tests over -->
    <const name="UNISH_DRUPAL_MAJOR_VERSION" value="8"/>

    <!--Uncomment and edit one of the lines below depending on DB platform.-->
    <!--DB User must have create/drop permissions-->
    <!--<env name="UNISH_DB_URL" value="mysql://root:@127.0.0.1"/> -->
    <!--<env name="UNISH_DB_URL" value="pgsql://postgres:@localhost"/>-->
    <!--<env name="UNISH_DB_URL" value="sqlite://none/of/this/matters"/>-->

    <!--User must have write permissions to this directory.-->
    <!--If not supplied, defaults to sys_get_temp_dir().-->
    <!--<env name="UNISH_TMP" value="/tmp" />-->

    <!--Uncomment the line below if your path to drush differs from `which drush`. Use absolute path.-->
    <!--<env name="UNISH_DRUSH" value="./bin/drush"/>-->

    <!--Uncomment to provide a group the user running the tests belong to. This is needed for some filesystem tests. -->
    <!--<env name="UNISH_USERGROUP" value="staff"/>-->

    <!-- Uncomment to disable the total runtime and output timeouts for commands run through CommandUnishTestCase::execute().  -->
    <env name="UNISH_NO_TIMEOUTS" value="y"/>

    <!--<env name="COLUMNS" value="180"/>-->
  </php>

  <testsuites>
    <testsuite name="DrushUnish">
      <directory>tests/src/DrushUnish/</directory>
    </testsuite>

    <testsuite name="DrushUnit">
      <directory>tests/src/DrushUnit/</directory>
    </testsuite>

    <testsuite name="Unit">
      <directory>tests/src/Unit/</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory>Commands/</directory>
      <directory>src/</directory>
    </whitelist>
  </filter>

  <logging>
    <log
      type="coverage-text"
      target="php://stdout"/>

    <log
      type="coverage-html"
      target="reports/human/coverage/html"/>

    <log
      type="coverage-clover"
      target="reports/machine/coverage/coverage.xml"/>

    <log
      type="testdox-html"
      target="reports/human/unit/junit.html"/>

    <log
      type="junit"
      target="reports/machine/unit/junit.xml"/>
  </logging>
</phpunit>
