## Composer.
/vendor/
/web/core/
/web/libraries/
/web/modules/contrib/
/web/profiles/contrib/
/web/themes/contrib/


## Package - drupal/core - common.
/web/autoload.php
/web/index.php
/web/robots.txt
/web/update.php


## Package - drupal/core - sites.
/web/sites/simpletest/
/web/sites/*/files/
/web/sites/*/settings.local.php
/web/sites/*/local.services.yml
/sites/*/backup/
/sites/*/databases/
/sites/*/php_storage/
/sites/*/private/
/sites/*/temporary/
/sites/*/translations/
/sites/*/hash_salt.txt
/sites/*/solr/cores/*/data/


## Package - drush/drush.
/drush/Commands/contrib/
/drush/drush.local.yml


## Common place for all tooling to put reports in.
/.cache/
/reports/


## PHP Code Sniffer.
/phpcs.xml


## PHPStan.
/phpstan.neon


## PHPUnit.
/phpunit.xml
